<div class="innerLR">
    <div class="col-md-12">
        <h1 class="margin-none">Events</h1>

        <div class="separator-h"></div>

        <div class="row">
            <div class="widget" ng-controller="EventsCtrl">
                <iframe src="https://www.google.com/calendar/embed?title=GDG%20Israel%20Events%20(Unified)&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23EAEAEA&amp;src=5n44ljbni6ufila17liuoo7utg%40group.calendar.google.com&amp;color=%235F6B02&amp;src=0ettl5q2pejj2vf0pjdriqc1q9asmcks%40import.calendar.google.com&amp;color=%238C500B&amp;src=162ptopnfpmn6a18072c7dkpeaciqa29%40import.calendar.google.com&amp;color=%230F4B38&amp;src=8i09hpgeaqf4q0frqo8rn08ffar0ci92%40import.calendar.google.com&amp;color=%2342104A&amp;src=ffuv5n09gsotd4sg22t349c0c43vshlu%40import.calendar.google.com&amp;color=%23711616&amp;src=s1jjnhvdi0qubl1r3k6fqlndmc247mdt%40import.calendar.google.com&amp;color=%23865A5A&amp;ctz=Asia%2FJerusalem" style=" border-width:0 " width=100% height=600 frameborder="0" scrolling="no"></iframe>
            </div>
            <!-- //  End Col -->

            <div class="col-md-4">


            </div>
            <!-- //End Col -->

        </div>
    </div>
</div>